.card {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  text-align: left;
  color: black;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.word-title h1 {
  font-size: 24px;
}

.tags {
  font-size: 14px;
  color: grey;
}

.definitions .definition {
  margin-top: 10px;
}

.definitions .parts-of-speech {
  font-size: 16px;
  color: grey;
  margin-bottom: 5px;
}

.restriction {
  font-size: 14px; /* Smaller than the main definition text */
  color: grey; /* Subdued color to indicate less prominence */
}

.definitions strong {
  font-size: 18px;
}

.other-forms, .notes {
  font-style: italic;
  margin-top: 15px;
}
