.card {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

hr#answer {
  margin-bottom: -10px; /* Reduce the space below the horizontal rule */
}

.question_word {
  text-align: center;
}

.word-title h1 {
  font-size: 24px;
}

.tags {
  font-size: 14px;
  color: grey;
}

.definitions .definition {
  margin-top: 10px;
}

.definitions .parts-of-speech {
  font-size: 17px; /* slightly more prominent */
  color: darkgrey; /* slightly more visible */
  margin-bottom: 5px;
}

.definitions strong {
  font-size: 19px; /* slightly bigger for main definitions */
}

.definitions .details {
  font-size: 13px; /* smaller and less prominent */
  color: grey; /* more subdued color */
}

.other-forms, .notes {
  margin-top: 15px;
}
